body {
  font-family: 'Serif';
}

p {
  text-align: justify;
  text-indent: 2em;
}

ul, ol {
  text-align: justify;
}

p.right {
  text-align: right;
}

blockquote {
  font-style: italic;
}

q {
  font-style: italic;
}

div.image{
  text-align: center;
}

.spacing {
  text-align: center;
}

table.gatha, table.gatha td {
  border: none;
}
